<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shmuel.myapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0L0I_nPWXlVgEAWDXJWNZw-LPz6X90iE" />

        <activity
            android:name=".controller.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".controller.Clients.ClientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.Clients.ClientEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.cars.CarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.cars.CarEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.branches.BranchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.branches.BranchEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.carmodels.CarModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.carmodels.CarModelEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.MissionAndValuesActivity"></activity>
    </application>

</manifest>